<h1>How's the weather?</h1>
<p>Fetch the current weather for any city in the world!</p>

<div class="form-group row">
  <label for="cityName" class="col-sm-2 col-form-label">City name:</label>
  <div class="col-sm-5">
    <input id="cityName" class="form-control" type="text" [(ngModel)]="cityName" placeholder="e.g. Melbourne">
  </div>
</div>
<div class="form-group row">
  <label for="countryCode" class="col-sm-2 col-form-label">Contry code:</label>
  <div class="col-sm-5">
    <input id="countryCode" class="form-control" type="text" [(ngModel)]="countryCode" placeholder="e.g. AU">
    <small id="countryCodeHelp" class="form-text text-muted">Country code must be provided in ISO 3166 format, e.g. AU for Australia.</small>
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-5">
    <button class="btn btn-primary" (click)="getWeather()" [disabled]="isFetching">Submit</button>
  </div>
</div>
<div *ngIf="hasError" class="form-group">
  <strong style="color: crimson">{{errorMessage}}</strong>
</div>
<div *ngIf="isCurrentWeatherAvailable" class="form-group">
  <strong style="color: forestgreen">Current weather is: {{currentWeather.description}}</strong>
</div>
